<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.bolex.timetask.lib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver android:name=".timed.TimeTask$TimeTaskReceiver" >
            <intent-filter>
                <action android:name="com.bolex.timeTask" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
